
.categoryItem_container{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    background-color: gray;
    padding: 2px 4px;
}
.categoryItem_container_type {
    display: flex;
    align-items: center;
    /* background-color: antiquewhite; */
}
.categoryItem_container_type p{
    margin-left: 8px;
}


.categoryItem_container_total_text{
    margin-left: auto;
}