.categoryItem_container{
    background-color: lightgray;
    padding: .5rem;
    /* width: 50%; */
}
.categoryItem_container_heading{
    display: flex;
    justify-content: space-between;
    background-color: beige;
    padding: 2px 4px;
}
.categoryItem_container_body{
    /* display: flex; */
    /* justify-content: space-between; */
    background-color: burlywood;
}
.categoryItem_container_body_list_items{
    display: flex;
}
.categoryItem_container_body_list_items p{
    margin: 2px 4px;
}