
.categoryItem_container{
    display: flex;
    align-items: center;
    /* background-color: gray; */
    padding: 2px 4px;
    cursor: pointer;
    /* border-bottom: 1px solid lightgray; */

}
.categoryItem_container:hover{
    background-color: lightgray;
}
.categoryItem_container_type {
    display: flex;
    align-items: center;
    /* background-color: antiquewhite; */
}
.categoryItem_container_type p{
    margin-left: 8px;
}


.categoryItem_container_total_text{
    margin-left: auto;
}