.sidebar_list{
    list-style: none;
    margin: 0;
    padding: 0;
    /* background-color: darkgray; */
    width: 250px;
    border: 1px solid lightgray;

}


.sidebar_list li{
    padding: 12px 2px;
    background-color: white;
    margin: 4px 0;
    cursor: pointer;
    text-align: center;
    border-bottom: 1px solid lightgray;
}
.sidebar_list li:last-child{
    margin: 0;
    border-bottom: none;

}
.sidebar_list li:hover{
    background-color: lightgray;
}


.sidebar_list_cancel{
    display: none;
} 

@media (max-width:600px) {
    .sidebar_list_backBtn{
        background-color: transparent !important;
        display: flex;
        justify-content: right;
        border: none !important;
        color: white;
    }    
    .sidebar_list_back_icon  {
        cursor: pointer;
        background-color: black;
        padding: 4px 8px;
        font-weight: bold;
        font-size: 22px;
    }
}