.navigator__container{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: darkslategray;
}
.navigator__container_back_arrow,.navigator__container_forward_arrow {
    cursor: pointer;
    padding: 4px;
    background-color: brown;
    margin: 0 12px;
}